.navitem {
  text-decoration: none;
  /* margin: 5px; */
  border: 2px solid black;
  background: gray;
  padding: 10px;
  font-size: 150%;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
}
