{% extends "layout.html" %} {% block content %}
<div class="cont">
  {% for program in downloads %}
  <div class="item">
    <h3>{{ program.title }}</h3>
    <p>{{ program.content }}</p>

    {% if program.websiteurl %}
    <a target="_blank" href="https://{{ program.websiteurl }}">{{
      program.websitename
    }}</a>

    {% if program.notActive %} (Not active) {% endif %} {% endif %} {% if
    program.debInstallCommand %}
    <br />
    <p>{{ program.debInstallCommand }}</p>

    {% endif %}
  </div>
  {% endfor %}
</div>
<script type="text/javascript" src="javascript/showAndHide.js"></script>
{% endblock content %}
